.container{
  width: 100%;
  height: 55px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark{
  background: rgba(28, 27, 34, 0.5);
}

.left{
  display: flex;
  width: 15%;
}

.left span{
  margin-left: 10px;
  font-weight: 900;
  font-size: 36px;
}

.right{
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 100%;
}

.rightSmall{
  display: none;
}

.searchbar{
  width: 250px;
}

.darkMode{
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal{
  position: absolute;
  top: 30%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.logo{
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

.right p{
  cursor: pointer;
}

.left .logo{
  cursor: pointer;
}

@media only screen and (max-width: 576px){
  .right{
    display: none;
  }

  .rightSmall{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
  }
}