.container{
  width: 100%;
  height: 75px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.titleHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titleHeader p u{
  cursor: pointer;
}