.container{
  width: 850px;
  height:200px;
  display: flex;
  justify-content: center;
}

.comments{
  width: 850px;
  height: 350px;
}

.input{
  width: 100%;
  display: flex;
  justify-content: center;
}